/*************************/
/*        Content        */
/*************************/

#page-content {
    margin-top: 2.4%;
    margin-bottom: 1.4%;
}

p {
    text-align: justify !important;
}

p.ul {
    margin-bottom: 0;
}

span.required {
    color: red;
}

@media only screen and (max-width: 40em) {
    h1, h2, h3, h4, h5, h6, p {
        text-align: center !important;
    }

    ul {
        text-align: center;
        list-style: none;
    }

    .button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

/*  Daniel servicios y conocenos */
#services {
    text-align: center;
}

#services .button,
#services .button:hover {
    border-radius: 40px;
    cursor: default;
}

#services h4 {
    border-radius: 40px;
    background-color: #0c4ec8;
    color: white;
    font-style: italic;
}

#services img {
    border-radius: 40px;
}

@media only screen and (max-width: 40em) {
    #services .button:hover {
        cursor: pointer;
    }

    #services .button:hover + img {
        display: inline-block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }

    #services img:hover {
        display: inline-block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
    }
}

#about {
   background:  url(http://s.cdpn.io/79/cloud_tl.png) no-repeat fixed left top,
    url(http://s.cdpn.io/79/cloud_br.png) no-repeat fixed right bottom, 
    #cfd6da url(http://s.cdpn.io/79/zeppelin-bg.jpg) no-repeat fixed center top;
    text-align: justify ;
}

#about p {
    font-style: oblique;
    padding: 20px;
    border-radius: 5px 40px 20px;
    background-color: #1bbe00;
    color: #fff;
    font-size: 20px;
    font-family: initial;
 }

#about h3 {
    border-radius: 5px 40px 20px;
    background-color: #0c4ec8;
    color: white;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #b8b4b4,
                 0 4px 0 #b9b9b9,
                 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1);
    color: #fff;
    font-size: 30px;
    font-family: Impact;
}

#about h4 {
    border-radius: 5px 40px 20px;
    background-color: #0c4ec8;
    color: white;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #b8b4b4,
                 0 4px 0 #b9b9b9,
                 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1);
    color: #fff;
    font-size: 30px;
    font-family: Impact;
}

/************************/
/*        Header        */
/************************/

#top {
    max-width: 100%;
    background: #000;
}

#top img.logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#top nav.top-bar {
    background: #000;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #000;
}

#top .button {
    margin-top: 1.25rem;
    margin-right: 0.9375rem;
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
    font-size: 0.6875rem;
}

@media only screen and (max-width: 40em) {
    #top img.logo {
        margin-top: 0;
        margin-bottom: 0;
    }

    #top nav.top-bar {
        text-align: center;
    }

    #top .button {
        margin: 0;
        padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
        font-size: 0.8125rem;
        text-transform: uppercase;
    }
}

/************************/
/*        Footer        */
/************************/

#bottom {
    max-width: 100%;
    padding: 24px 0 10px;
    background-color: #000;
}

/* Links */
#bottom ul.inline-list {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
}

#bottom ul.inline-list li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
}

#bottom ul.inline-list li a {
    color: #666666;
    padding: 3px 6px;
}

#bottom ul.inline-list li a:hover {
    color: #777777;
}

/* Copyright */
p.copyright {
    margin: 6px 0 0 10px;
    font-size: 0.75rem;
    color: #666;
}

/* Social */
#bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px;
}

#bottom ul.home-social li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 10px;
}

#bottom ul.home-social li:first-child {
    margin-left: 0;
}

#bottom ul.home-social li a {
    display: block;
    height: 50px;
    width: 50px;
    background: url("../img/social.png") no-repeat center 0;
}

#bottom ul.home-social li a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#bottom ul.home-social li a.twitter {
    background-position: center 0;
}

#bottom ul.home-social li a.facebook {
    background-position: center -200px;
}

#bottom ul.home-social li a.mail {
    background-position: center -400px;
}

@media only screen and (max-width: 40em) {
    #bottom {
        text-align: center;
    }

    #bottom .columns {
        padding: 0;
    }

    #bottom ul.inline-list {
        margin: 16px 0 8px;
    }

    p.copyright {
        margin: 0 0 16px 0;
    }

    #bottom ul.home-social {
        float: none;
        margin: 0;
        text-align: center;
        height: 44px;
        display: inline-block;
    }
}