/*************************/
/*        Content        */
/*************************/

#page-content {
    margin-bottom: 1.4%;
}

@font-face {
    font-family: Aero;
    src: url("aero.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

p {
    text-align: justify !important;
}

p.ul {
    margin-bottom: 0;
}

span.required {
    color: red;
}

@media only screen and (max-width: 40em) {
    h1, h2, h3, h4, h5, h6, p {
        text-align: center !important;
    }

    ul {
        text-align: center;
        list-style: none;
    }

    .button {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

/* Servicios y Conocenos */
#services {
    text-align: center;
}

#services .button,
#services .button:hover {
    border-radius: 40px;
    cursor: default;
}

#services h4 {
    border-radius: 40px;
    background-color: #0c4ec8;
    color: white;
    font-style: italic;
}

#services img {
    border-radius: 40px;
}

@media only screen and (max-width: 40em) {
    #services .button:hover {
        cursor: pointer;
    }
}

#about {
    background:  url(http://s.cdpn.io/79/cloud_tl.png) no-repeat fixed left top,
        url(http://s.cdpn.io/79/cloud_br.png) no-repeat fixed right bottom, 
        #cfd6da url(http://s.cdpn.io/79/zeppelin-bg.jpg) no-repeat fixed center top;
    text-align: justify ;
}

#about p {
    font-style: oblique;
    padding: 20px;
    border-radius: 5px 40px 20px;
    background-color: #1bbe00;
    color: #fff;
    font-size: 20px;
    font-family: initial;
}

#about h3 {
    border-radius: 5px 40px 20px;
    background-color: #0c4ec8;
    color: white;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #b8b4b4,
        0 4px 0 #b9b9b9,
        1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1);
    color: #fff;
    font-size: 30px;
    font-family: Impact;
}

#about h4 {
    border-radius: 5px 40px 20px;
    background-color: #0c4ec8;
    color: white;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #b8b4b4,
        0 4px 0 #b9b9b9,
        1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1);
    color: #fff;
    font-size: 30px;
    font-family: Impact;
}

/************************/
/*        Header        */
/************************/

#top_upper, #top_middle, #top_lower {
    max-width: 100%;
}

#top_upper {
    background-image: url("../img/top_upper.png");
}

#top_upper .row {
    max-width: 100%;
}

#top_upper img.logo {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

#top_upper ul.inline-list h3 {
    font-family: Aero;
    color: #fff;
    text-shadow: 1px 1px #a1a1a1;
}

#top_middle {
    background-image: url("../img/top_middle.png");
}

#top_middle .row {
    max-width: 100%;
}

#top_middle nav.top-bar {
    background: transparent;
}

#top_lower {
    background-image: url("../img/top_lower.png");
    height: 10px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-image: url("../img/top_middle.png");
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-image: url("../img/top_middle.png");
    color: #ffcc66;
    text-shadow: #a16e08;
}

.top-bar-section ul li > a {
    font-family: Aero;
    font-size: 1rem;
    text-shadow: 1px 1px #a1a1a1;
}

@media only screen and (max-width: 40em) {
    #top img.logo {
        margin-top: 0;
        margin-bottom: 0;
    }

    #login-form * {
        display: block;
        float: none;
        margin-left: 0px;
        margin-bottom:  0px;
        width: 100%;
    }

    #login-id,
    #login-pass, 
    #login-btn {
        margin-bottom: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-width: 1px;
        font-size: 0.8125rem;
        height: auto;
    }

    #login-btn {
        text-transform: uppercase;
    }

    #top nav.top-bar {
        text-align: center;
    }
}

/************************/
/*        Footer        */
/************************/

#bottom {
    max-width: 100%;
    padding: 24px 0 10px;
    background-color: #000;
}

/* Links */
#bottom ul.inline-list {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
}

#bottom ul.inline-list li {
    display: block;
    float: left;
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
}

#bottom ul.inline-list li a {
    color: #666666;
    padding: 3px 6px;
}

#bottom ul.inline-list li a:hover {
    color: #777777;
}

/* Copyright */
p.copyright {
    margin: 6px 0 0 10px;
    font-size: 0.75rem;
    color: #666;
}

/* Social */
#bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px;
}

#bottom ul.home-social li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 10px;
}

#bottom ul.home-social li:first-child {
    margin-left: 0;
}

#bottom ul.home-social li a {
    display: block;
    height: 50px;
    width: 50px;
    background: url("../img/social.png") no-repeat center 0;
}

#bottom ul.home-social li a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#bottom ul.home-social li a.twitter {
    background-position: center 0;
}

#bottom ul.home-social li a.facebook {
    background-position: center -200px;
}

#bottom ul.home-social li a.mail {
    background-position: center -400px;
}

@media only screen and (max-width: 40em) {
    #bottom {
        text-align: center;
    }

    #bottom .columns {
        padding: 0;
    }

    #bottom ul.inline-list {
        margin: 16px 0 8px;
    }

    p.copyright {
        margin: 0 0 16px 0;
    }

    #bottom ul.home-social {
        float: none;
        margin: 0;
        text-align: center;
        height: 44px;
        display: inline-block;
    }
}

/************************/
/*         Chat         */
/************************/

.msg_box {
    position: fixed;
    bottom: -5px;
    width: 250px;
    background: #EEF2E7;
    border-radius: 5px 5px 0px 0px;
    z-index: 100;
}

.msg_head {
    background: #3498db;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px 4px 0px 0px;
}

.msg_wrap {
    display: none;
}

.msg_body {
    background: #BCBFBC;
    height: 200px;
    font-size: 12px;
    padding: 15px;
    overflow: auto;
    overflow-x: hidden;
}

.msg_input {
    background: #DBDEE5;
    width: 100%;
    height: 30px;
    border: 1px solid white;
    border-top: 1px solid #DDDDDD;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

.msg_a {
    position: relative;
    background: #FDE4CE;
    padding: 10px;
    min-height: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.msg_a:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent #FDE4CE transparent transparent;
    left: -20px;
    top: 7px;
}

.msg_b {
    background: #EEF2E7;
    padding: 10px;
    min-height: 15px;
    margin-bottom: 5px;
    position: relative;
    margin-left: 10px;
    border-radius: 5px;
}

.msg_b:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent transparent #EEF2E7;
    right: -20px;
    top: 7px;
}
