/*************************/
/*        General        */
/*************************/

body {
    background: #F0F0F3;
}

/*************************/
/*        Content        */
/*************************/

#page-content {
    margin-top: 2.4%;
    margin-bottom: 1.4%;
}

table {
    width: 100%;
}

table, th, td {
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
}

th {
    background: #ddd;
}

#manager .tabs-content > .content {
    padding-top: 0px;
    padding-bottom: 0px;
}

#manager input[type="text"] {
    background: transparent;
    border-style: hidden;
    border: 0;
    border-bottom: 1px solid #435160;
    border-color: #cccccc;
    box-shadow: none;
    outline: none;
    color: #6D7781;
}

#manager input[type="file"] {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

#manager label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

ul.accordion {
    margin-left: 0px;
}

/************************/
/*        Header        */
/************************/

.login-box, .login-error {
    background: #fff;
    border: 1px solid #ddd; 
    margin: 100px 0;
    padding: 40px 20px 0 20px;
}
