body {
    background: #F0F0F3;
}

/*************************/
/*        Content        */
/*************************/

#page-content {
    margin-top: 2.4%;
    margin-bottom: 1.4%;
}

table {
    width: 100%;
}

table, th, td {
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
}

#manager .tabs-content > .content {
    padding-top: 0px;
    padding-bottom: 0px;
}

#manager ul.accordion {
    margin-left: 0px;
}

/************************/
/*        Header        */
/************************/

.login-box, .login-error {
    background: #fff;
    border: 1px solid #ddd; 
    margin: 100px 0;
    padding: 40px 20px 0 20px;
}
